* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-main)
}


:root {
    --color-palette1: rgb(18, 50, 88);
    --color-palette2: rgb(1, 100, 122);
    --color-palette3: rgb(140, 3, 41);
    --color-palette4: rgb(255, 255, 255);
    --font-main: Lato, sans-serif;
    --font-size: 20px;
    --line-height: 1.5;
    --margin: 2vh;
    --linkPadding: 5px;
    --padding: 42px 0px 42px 0px;
    --border-radius: 10%;
}

.contact-page {
    width: 100vw;
    height: 100vh;

}

.section {
    background-color: var(--color-palette4);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    background-color: var(--color-palette4);
    text-align: center;
    margin: 20px 10px 40px 10px;
    color: var(--color-palette1);
    padding: 15px 0px;

}

.contact-title {}

.contact-subtitle {}


.contact-form {
    background-color: var(--color-palette2);
    border: 2px solid var(--color-palette2);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 70%;
    height: 550px;
    color:rgb(255, 255, 255);
        
}


.contact-text {
    padding: 10px;
    margin-bottom: 20px;

}

.contact-text-mini {
    font-size: 15px;
}



.contact-button {

    color: var(--color-palette1);
    font-style: var(--font-main);
    font-size: var(--font-size);
    font-weight: 900;
    border-radius: 45px;
    background: var(--color-palette4);
    border: 2px solid #e8e8e8;
    transition: all .5s;
    margin-bottom: 80px;
    margin-top: 40px;
    padding: 10px 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    
    
}

.contact-button:hover {
    /*background-color: var(--color-palette4);
		color: var(--color-palette2);
		border: 2px solid var(--color-palette2);*/
        background-color: var(--color-palette3);
        /*box-shadow: 0px 15px 20px rgba(140, 3, 41, 0.4);*/
        color: #fff;
        /*transform: translateY(-7px);*/

}

.submit-button {
    color: var(--color-palette4);
    font-size: 15px;
    font-style: var(--font-main);
    border-radius: 45px;
    background: var(--color-palette1);
    border: 2px solid #e8e8e8;
    transition: all .5s;
    padding: 10px 28px;
    width: 38%;
    align-self: center;
    margin-top: 30px;
    text-decoration: none;

}

.submit-button:hover {
    /*background-color: var(--color-palette4);
		color: var(--color-palette2);
		border: 2px solid var(--color-palette2);*/
        background-color: var(--color-palette4);
        box-shadow: 0px 15px 20px rgba(140, 3, 41, 0.4);
        color: var(--color-palette1);
        font-weight: 700;
        
        /*transform: translateY(-7px);*/
}


.bg-modal {
    width: 100%;
    height: 100%;
    background-color: (0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.modal-content {
    width: 500px;
    height: 450px;
    background-color: var(--color-palette3);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    
}

.bg-modal2 {
    width: 100%;
    height: 100%;
    background-color: (0, 0, 0, 0.7);
    
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.modal-confirmation {
    width: 200px;
    height: 200px;
    background-color: var(--color-palette3);;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    
}

.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-face {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.contact-details {
    width: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid white;
}

.message-box {
    width: 50%;
    height: 100px;
    align-self: center;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid white;
}

.close-form {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: var(--color-palette4);
}

.close-form2 {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: var(--color-palette4);
}

.message-sent {
    text-align: center;
    margin-top: 75px;
    color: var(--color-palette4);
}

.social-network {
    width: 100%;
    background-color: var(--color-palette2);
    
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 

}

.social-pic {
    width: 35px;
    height: 35px;
    margin: 15px;
}

.review-container {
    width: 80%;
    background-color: var(--color-palette4);
    margin-top: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.review-box {
    
    background-color: var(--color-palette4);
    color: var(--color-palette3);
    
    width: 60%;
    height: 100%;
    padding: 20px;
    margin: 5px;
    border: 1px solid var(--color-palette4);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    
    text-align: center;
    font-style: var(--font-main);
    font-size: var(--font-size);
    font-weight: 900;
    width: 60%;
    font-size: 15px;

}


.signature-review {
    padding-top: 10px;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 10px;
    
}

.rating {
    width: 50%;
    height: 50%;
    
}

@media screen and (min-width: 768px) {
    .review-container {
        display: flex;
        justify-content: space-evenly;
        
    }

    .contact-form {
        width:50%;
    }

    .review-box {
        width: 60%;
        font-size: 15px;
    }

    .signature-review {
        padding-top: 10px;
        font-style: italic;
        font-size: 12px;
        
    }

    .rating {
        padding-top: 15px;;
        width: 50%;
        height: 50%;
        display: 
        
    }

    .contact-button {

        color: var(--color-palette1);
        font-style: var(--font-main);
        font-size: var(--font-size);
        font-weight: 900;
        border-radius: 45px;
        background: var(--color-palette4);
        border: 2px solid #e8e8e8;
        transition: all .5s;
        margin-bottom: 80px;
        margin-top: 40px;
        padding: 10px 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        
        
    }
    
    .contact-button:hover {
        /*background-color: var(--color-palette4);
            color: var(--color-palette2);
            border: 2px solid var(--color-palette2);*/
            background-color: var(--color-palette3);
            box-shadow: 0px 15px 20px rgba(140, 3, 41, 0.4);
            color: #fff;
            transform: translateY(-7px);
    
    }
    
    .submit-button {
        color: var(--color-palette4);
        font-size: 15px;
        font-style: var(--font-main);
        border-radius: 45px;
        background: var(--color-palette1);
        border: 2px solid #e8e8e8;
        transition: all .5s;
        padding: 10px 28px;
        width: 38%;
        align-self: center;
        margin-top: 30px;
        text-decoration: none;
    
    }
    
    .submit-button:hover {
        /*background-color: var(--color-palette4);
            color: var(--color-palette2);
            border: 2px solid var(--color-palette2);*/
            background-color: var(--color-palette4);
            box-shadow: 0px 15px 20px rgba(18, 50, 88, 0.4);
            color: var(--color-palette1);
            font-weight: 700;
            
            transform: translateY(-7px);
}