:root {
    --total-width-mobile: 80vw;
    --color-palette1: rgb(18, 11, 25);
    --color-palette2: rgb(1, 100, 122);
    --color-palette3: rgb(140, 3, 41);
    --color-palette4: rgb(255, 255, 255);
    --font-main: "Lato", sans-serif;
    --font-size: 20px;
    --line-height: 2vh;
    --margin: 2vh;
    --main-element-padding: 3vw;
    --margin-y: 2vh 0px 2vh 0px;
    --centering-element-x: 0vh auto 5vh auto;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
}

footer {
    z-index: 2;
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowRotateUp img {
    width: 10vw;
    filter: drop-shadow(0px 5px 15px rgba(51, 38, 88, 0.8));
    transition: 0.3s ease-in-out;
}

.arrowRotateDown img {
    width: 10vw;
    filter: drop-shadow(0px -5px 15px rgba(51, 38, 88, 0.8));
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.footerDown {
    display: none;
}

.footerUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: var(--color-palette1);
}

#footer-contact {
    width : 75vw;
    font-weight: 500;
    text-transform: uppercase;
    padding: calc(var(--main-element-padding) * 3);
    color: var(--color-palette4);
}

.footer-collegues {
    width : 75%;
}

.footer-devs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: var(--color-palette4);
    line-height: 4vh;
}

.footer-devs img {
    margin: calc(var(--main-element-padding)/2);
    width: 5vw;

}

.footer-devs li {
    margin: var(--main-element-padding);
    font-size: 15px;

}

.devName {
    width: 60%;
}

#credits {
    font-size: 3vw;
    color: var(--color-palette4);
    position: absolute;
    bottom: 3vh;
}

@media screen and (min-width:600px) {}