:root {
    --total-width-mobile: 80vw;
    --color-palette1: rgb(18, 11, 25);
    --color-palette2: rgb(1, 100, 122);
    --color-palette3: rgb(140, 3, 41);
    --color-palette4: rgb(255, 255, 255);
    --font-main: "Lato", sans-serif;
    --font-size: 20px;
    --line-height: 2vh;
    --margin: 2vh;
    --main-element-padding: 3vw;
    --margin-y: 2vh 0px 2vh 0px;
    --centering-element-x: 0vh auto 5vh auto;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
}

footer {
    z-index: 100;
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowRotateUp img {
    width: 10vw;
    filter: drop-shadow(0px 5px 15px rgba(51, 38, 88, 0.8));
    position: relative;
    bottom : 15px;
}

.arrowRotateUp:hover img,
.arrowRotateDown:hover img {
    width: 13vw;
    transition: 0.3s ease-in-out;
}

.arrowRotateDown img {
    width: 10vw;
    filter: drop-shadow(0px -5px 15px rgba(51, 38, 88, 0.8));
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.footerDown {
    display: none;
}

.footerUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: var(--color-palette1);
    animation: fadeIn 0.2s;
    -webkit-animation: fadeIn 0.2s;
    -moz-animation: fadeIn 0.2s;
    -o-animation: fadeIn 0.2s;
    -ms-animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#footer-contact {
    width: auto;
    font-weight: 500;
    text-transform: uppercase;
    padding: calc(var(--main-element-padding) * 2);
    color: var(--color-palette4);
}

.footer-coworkers {
    width: 75%;
}

.footer-devs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--color-palette4);
}

.footer-devs img {
    width: 5vw;
}

.footer-devs li {
    margin: var(--main-element-padding);
    font-size: 15px;
}

.devName {
    width: 60%;
}

#credits {
    font-size: 3vw;
    color: var(--color-palette4);
    position: absolute;
    bottom: 5vh;
}

@media screen and (min-width: 480px) {
    .arrowRotateUp img {
        width: 3vw;
        filter: drop-shadow(0px 5px 15px rgba(51, 38, 88, 0.8));
    }

    .arrowRotateUp:hover img,
    .arrowRotateDown:hover img {
        width: 4vw;
        transition: 0.3s ease-in-out;
    }

    .arrowRotateDown img {
        width: 4vw;
        filter: drop-shadow(0px -5px 15px rgba(51, 38, 88, 0.8));
        transform: rotate(180deg);
        transition: 0.3s ease-in-out;
    }

    .footerUp {
        height: 50vh;
        animation: fadeIn 0.4s;
        -webkit-animation: fadeIn 0.4s;
        -moz-animation: fadeIn 0.4s;
        -o-animation: fadeIn 0.4s;
        -ms-animation: fadeIn 0.4s;
    }

    #footer-contact {
        padding: calc(var(--main-element-padding)/2);
        text-align: center;
        width: 50%;
    }

    .footer-coworkers {
        width: 50%;
    }

    .footer-devs {
        height: 6vh;
        width: 100%;
    }

    .footer-devs img {
        margin: 10px;
        width: 2vw;
    }

    .footer-devs li {
        margin: 0px 0px 0px 0px;;
        font-size: 15px;
    }

    .devName {
        width: 30%;
        margin-right: 500px;
    }

    #credits {
        font-size: 18px;
    }
}